@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding-top: 70px;
    background: linear-gradient(270deg,rgba(49, 168, 101, 1) 8%, rgba(104, 134, 222, 1) 41%, rgba(104, 134, 222, 1) 74%, rgba(26, 145, 115, 1) 94%);    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #f5f5f5;
 
}

.text-box {
    position: relative;
    color: white;
    text-align: center;
    padding: 20px;
    background: rgba(30, 30, 30, 0.7);
    border-radius: 10px;
    max-width: 600px;
    margin: 20px auto;
}   

.text-box h1 {
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 20px;
}

.text-box p {
    font-size: 15px;
    line-height: 1.6;
}


.container {
    width: 100%;
    max-width: 1200px; /* Opcional: limita el ancho máximo en pantallas grandes */
    margin: 0 auto;
    padding: 40px 20px;
}


.container .text-center {
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;

}


.thecard {
    position:absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    background-color: darkgrey;

}
.thecard:hover {
    transform: rotateY(180deg);
}

.thefront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    color: #333;
}

.theback{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    color: #333;
    transform: rotateY(180deg);
    background-color: darkgrey;

}





.text-box, .container .text-center {
    max-width: 100%;
    margin: 20px 0;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgba(30, 30, 30, 1);
    top: 0;
    left: 0;
    height: 80px;
    align-items: center;
    position: absolute;
}

.nav-list{
    flex: 1;
    text-align: right;
}

.nav-list ul li{
    display: inline-block;
    padding: 8px 12px;
    list-style: none;
}

.nav-list ul li a{
    color: aliceblue;
    text-decoration: none;
}

.nav-list ul li a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: yellow;
    margin: auto;
    display: block;
    transition: .1s;

}

.nav-list ul li a:hover::after{
    width: 100%;
}

.logo-image {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}



.card{
    background: rgba(0, 0, 0, 0.7);
    border: none;
    color: white;   
    transition: transform 0.3s, box-shadow 0.3s;
}

.card img {
    
    height: 300px;
    object-fit: cover;     /* Recorta la imagen para que ocupe todo el espacio */
    
    display: block;
    margin: 0 auto;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


footer{
    text-align: center;
    padding: 10px 0;
    background: rgba(30, 30, 30, 1);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}


@media (max-width: 600px) {
    .carousel-inner img {
        height: 200px;
        max-width: 100%;
    }
}